{% extends "base.html" %}

{% block content %}
  <h1>{{ post["title"] }}</h1>
  <div class="meta">
    by {{ post["username"] }} on {{ post["created"].strftime("%Y-%m-%d %H:%M") }}
  </div>
  <div class="body">
    {{ post["body"] }}
  </div>
  <hr>
  <h2>Комментарии</h2>
  {% for comment in comments %}
    <div class="comment">
      <div class="meta">
        by {{ comment["username"] }} on {{ comment["created"].strftime("%Y-%m-%d %H:%M") }}
      </div>
      <div class="body">
        {{ comment["body"] }}
      </div>
    </div>
  {% endfor %}
  <hr>
  <h2>Добавить комментарий</h2>
  <form method="post">
    <div class="form-group">
      <textarea name="body" class="form-control" placeholder="Текст комментария" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
  </form>
{% endblock %}
